In [121]:
import pandas as pd
import pandas_datareader as pdr
from datetime import datetime,timedelta

returns = list()
#one_day = timedelta(days=1)

In [122]:
start = '05-02-2017'
end = '05-01-2018'

s = pdr.mstar.daily.MorningstarDailyReader('O',start=start,end=end ,incl_dividends=True, incl_volume=False,interval='d')


#start = datetime(2018, 4, 2)
#end = datetime(2018, 4, 30)

#o = pdr.DataReader('O', 'morningstar', start, end)

In [123]:
a = pd.DataFrame(s.read())

In [124]:
a.head()

                   Close   High     Low   Open isDividend
Symbol Date
O      2017-05-02  59.04  59.39  58.845  58.94        NaN
       2017-05-03  57.83  59.22  57.600  59.16        NaN
       2017-05-04  55.78  57.54  54.920  57.54        NaN
       2017-05-05  56.62  56.72  55.800  56.01        NaN
       2017-05-08  55.68  57.07  55.530  56.84        NaN

In [125]:
a.index = a.index.droplevel(0)
a['Date'] = a.index
a.head()

            Close   High     Low   Open isDividend       Date
Date
2017-05-02  59.04  59.39  58.845  58.94        NaN 2017-05-02
2017-05-03  57.83  59.22  57.600  59.16        NaN 2017-05-03
2017-05-04  55.78  57.54  54.920  57.54        NaN 2017-05-04
2017-05-05  56.62  56.72  55.800  56.01        NaN 2017-05-05
2017-05-08  55.68  57.07  55.530  56.84        NaN 2017-05-08

In [126]:
div = a[a.isDividend.notnull()]
div.loc[:,'isDividend'] = div.isDividend.str.slice(2,-4)
div.head()

C:\Users\Owner\Anaconda3\lib\site-packages\pandas\core\indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

            Close     High    Low   Open isDividend       Date
Date
2017-05-30  55.00  55.5200  54.95  55.09     0.2110 2017-05-30
2017-06-29  55.77  56.4500  55.44  56.39     0.2115 2017-06-29
2017-07-28  57.20  58.1913  57.11  57.89     0.2115 2017-07-28
2017-08-30  56.92  57.0150  56.57  56.89     0.2115 2017-08-30
2017-09-29  57.19  57.6000  56.85  57.50     0.2120 2017-09-29

In [97]:
sell =float(a.loc['2018-04-30'].Close)
sell

50.51

In [98]:
buy = float(a.loc['2018-04-27'].Open)
buy

50.34

In [99]:
r = sell - buy
r

0.1699999999999946

In [104]:
a.loc['2017-05-03'].Date

Timestamp('2017-05-03 00:00:00')

In [113]:
a.iloc[a.index.get_loc('2017-05-03')-1].Close

59.039999999999999

In [135]:
for i,d in div.iterrows():
    sell = float(d[0])
    buy = float(a.iloc[a.index.get_loc(i)-1].Open) #open price day before
    dividend = float(d[4])
    r =sell - buy + dividend
    returns.append(r)
    #print (r)
print ("Total return", sum(returns))
print (returns)

Total return 0.8749999999999462
[0.031000000000000277, -0.14849999999999944, -0.41849999999999543, -0.34849999999999515, 0.1319999999999946, -0.13800000000000143, -0.22800000000000484, 0.49250000000000116, 0.45899999999999486, -1.281, 1.2694999999999972, 0.38949999999999463, 0.031000000000000277, 0.031000000000000277, -0.14849999999999944, -0.41849999999999543, -0.34849999999999515, 0.1319999999999946, -0.13800000000000143, -0.22800000000000484, 0.49250000000000116, 0.45899999999999486, -1.281, 1.2694999999999972, 0.38949999999999463, 0.031000000000000277, -0.14849999999999944, -0.41849999999999543, -0.34849999999999515, 0.1319999999999946, -0.13800000000000143, -0.22800000000000484, 0.49250000000000116, 0.45899999999999486, -1.281, 1.2694999999999972, 0.38949999999999463, 0.031000000000000277, -0.14849999999999944, -0.41849999999999543, -0.34849999999999515, 0.1319999999999946, -0.13800000000000143, -0.22800000000000484, 0.49250000000000116, 0.45899999999999486, -1.281, 1.2694999999999972, 0.38949999999999463]

In [136]:
a.tail()

            Close   High     Low   Open    isDividend       Date
Date
2018-04-25  49.61  49.63  49.010  49.37           NaN 2018-04-25
2018-04-26  50.39  50.68  49.620  49.81           NaN 2018-04-26
2018-04-27  51.45  51.81  50.340  50.34           NaN 2018-04-27
2018-04-30  50.51  51.43  50.510  51.35  s:0.2195<br> 2018-04-30
2018-05-01  51.18  51.32  50.244  50.50           NaN 2018-05-01

In [138]:
0.87/51 *100

1.7058823529411766